html {
  scroll-behavior: smooth;
}

body {
  /*background-image: linear-gradient(to left top, #2c3639, #2f3a3d, #333f42, #364346, #3a484a, #3c4f4f, #405753, #465e55, #556854, #6a7152, #857753, #a27b5c);*/
  background-image: linear-gradient(to left top, #3c4f65, #3b4a63, #3b4560, #3c3f5c, #3d3a58, #433a5a, #493a5c, #4f395d, #5c3d65, #69416d, #774573, #864879);
  backdrop-filter: blur(2.1px);
  height: 100%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: var(--frth_color);
}

/*Variables*/
:root {
  /*--prm_color: #2C3639;
  --scnd_color: #3F4E4F;
  --thrd_color: #A27B5C;
  --frth_color: #DCD7C9;
  --frth_color_fade: #dcd7c9b0;*/
  --prm_color: #1F1D36;
  --scnd_color: #3F3351;
  --thrd_color: #864879;
  --frth_color: #DCD7C9;
  --frth_color_fade: #dcd7c9b0;
  --ffth_color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --sixth_color: #A27B5C;
}

/*Tooltip*/
.custom-tooltip {
  --bs-tooltip-bg: var(--frth_color);
  --bs-tooltip-color: var(--prm_color);
}

/*font-size*/
.fs-7 {
  font-size: .85rem;
}

.fs-8 {
  font-size: 1.2rem;
}

/*background-color*/
.bg-1 {
  background-color: var(--prm_color);
}

.bg-2 {
  background-color: var(--scnd_color);
}

/*no padding no margin*/
.mrk_no_p {
  padding: 0px;
}

.mrk_no_m {
  margin: 0px;
}

/*vertical line*/
.mrk_vl {
  border-right: 2px solid var(--frth_color);
  height: 11rem;
  position: absolute;
  right: 50%;
  /*top: 30rem;*/
  z-index: -1;
}

/*Icon BGC*/
.mrk_svg-bgc {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.mrk_tc::before {
  filter: blur(2px);
}

/*link color*/
.mrk_color {
  color: var(--frth_color);
  transition: all .15s ease-out;
}

/*list*/
.mrk_dc, .mrk_color {
  text-decoration: none;
  list-style-type: none;
}

/*height*/
.mrk_ht {
  height: 500px;
}

/*shadow*/
.mrk_shadow {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .5));
}

.mrk_color:hover {
  color: var(--sixth_color);
}

.mrk_hide {
  display: none;
}

/*Spacing*/
.my-6 {
  margin: 10rem auto;
}

.mb-6 {
  margin-bottom: 8rem;
}

/*padding*/
.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

/*Profile image*/
.mrk_img_pr {
  width: 500px;
  height: auto;
}

/*glass background*/
.glass-bg {
  width: auto;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}

/*subtitle bgc*/
.mrk_tc {
  background: var(--scnd_color);
}
